.blog_tab{
    width: 65%;
    display: flex;
    margin: 0 auto;
    position: relative;
    border-bottom: 1px solid #f0f1f3;
}

.blog_tab_list{
    display: flex;
    margin-top: 64px;
    
}

.blog_tab_list li{
    padding-left: 20px;
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 15px;
}

.blog_tab_list li:hover{
    text-decoration: underline;
}

.blog_tab_list li:first-child{
    padding-left: 0;
    color: #004dc1;
    
}

.blog_tab_list li:first-child:hover{
    text-decoration: underline;
}



.search_container {
            position: absolute;
            margin-left: 20px;
            right: 0;
            top: 35%;
            
}

        .search_box {
            position: relative;
            display: flex;
            align-items: center;
        }

        .search_input {
            width: 250px;
            height: 25px;
            padding: 15px 18px 15px 48px;
            border: 1px solid #ddd;
            font-size: 14px;
            outline: none;
            box-shadow: 0 8px 13px 0 rgba(159, 176, 199, 0.3);
            
        }

        .search_input:focus {
            border: 2px solid #004dc1;
            
        }

        .search_input::placeholder {
            color: #999;
        }

        .search_icon {
            position: absolute;
            left: 12px;
            width: 18px;
            height: 18px;
            color: #666;
            cursor: pointer;
        }


        /* SVG 아이콘 */
        .search_icon svg {
            width: 100%;
            height: 100%;
            fill: none;
            stroke: currentColor;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
        }