.attendance_settlement_main {
    width: 100%;
}

#wrap {
    width: 65%;
    margin: 0 auto;
}

/* 메인 타이틀 영역 */
.settlement_main_title {
    width: 100%;
    padding: 100px 0;
    background-image: url(../../images/attendance_settlement_banner_back_img.png);
    background-repeat: no-repeat;
    background-position: 0 150px;
    background-size: 100% 80%;
}
.settlement_main_title_list {
    width: 65%;
    margin: 0 auto;
    text-align: center;
}

.settlement_main_title_list h5 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 30px;
}
.settlement_main_title_list h2 {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 30px;
}

.settlement_main_title_list .settlement_main_title_detail {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.75;
}

.settlement_main_title_list .settlement_main_title_btn {
    margin: 50px auto;
    background-color: #004dc1;
    width: 150px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    line-height: 50px;
    color: #fff;
    transition: 0.3s;
}

.settlement_main_title_list .settlement_main_title_btn:hover {
    background-color: #0a2864;
    transform: translateY(-5px);
}

/* 첫번째 배너 영역 */
.settlement_banner_01 {
    padding: 100px 0;
    width: 100%;
}
.banner_01_list {
    text-align: center;
}
.banner_01_list h2 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 50px;
}
.banner_01_list p {
    margin-top: 50px;
    line-height: 1.75;
    font-size: 20px;
}

/* 전자결재_update 영역 */
.settlement_update {
    width: 100%;
}
.update_list {
    width: 100%;
    display: flex;
    align-items: center;
}
.update_list li {
    width: 50%;
    padding: 30px;
}
.update_list .update_text_box {
    padding-bottom: 150px;
    box-sizing: border-box;
}
.update_list .update_text_box h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    font-weight: 700;
    line-height: 1.3;
}
.update_list .update_text_box p {
    line-height: 1.75;
    font-size: 20px;
    font-weight: 400;
}
.update_list .update_img_box {
    text-align: center;
    position: relative;
}
.update_list .update_img_box::after {
    content: '';
    display: block;
    position: absolute;
    top: 100px;
    right: 30px;
    z-index: -5;
    width: 600px;
    height: 500px;
    background-color: #f4f7fb;
}
.update_list .update_img_box img {
    width: 60%;
}

/* 근태정산 리포트 영역 */
.settlement_report {
    padding: 100px 0;
    width: 100%;
}
.report_list {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.report_list li {
    width: 50%;
}
.report_img_box img {
    width: 80%;
    float: right;
    margin-right: 30px;
}
.report_text_box h2 {
    font-size: 2.5rem;
    line-height: 1.3;
    font-weight: 600;
    margin-bottom: 30px;
}
.report_text_box > p {
    font-size: 20px;
    line-height: 1.75;
    font-weight: 400;
    margin-bottom: 30px;
}

.report_detail {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.report_detail li {
    width: 47%;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}
.report_detail li h3 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
}
.report_detail li > a {
    font-size: 15px;
    line-height: 1.5;
}
.report_detail li::before {
    content: '';
    display: block;
    position: absolute;
    top: 25px;
    left: -5px;
    width: 15px;
    height: 15px;
    background-image: url(../../images/checkmark.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.report_btn {
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #004dc1 !important;
    background-color: #dcedfd;
    border: 1px solid #dcedfd;
    border-radius: 5px;
    transition: 0.3s;
    margin-top: 20px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.report_btn:hover {
    border: 1px solid #004dc1;
}

/* 리포트 파일 영역 */
.settlement_report_file {
    width: 100%;
}
.report_file_list {
    width: 100%;
    text-align: center;
}
.report_file_list h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 30px;
}
.report_file_list p {
    font-size: 20px;
    color: #1e1f21;
    line-height: 1.5;
}
.report_file_list img {
    width: 80%;
    margin: 50px auto;
}

/* 자동정산 영역 */

.automatic_list {
    width: 70%;
    margin: 50px auto;
    padding: 50px 100px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0 5px 5px #e1e1e1;
    background-image: linear-gradient(90deg, #f4f7fb, white);
    position: relative;
}
.automatic_list h2 {
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: 50px;
}
.automatic_list p {
    font-size: 15px;
    line-height: 1.5;
}
.automatic_link_box {
    position: absolute;
    font-size: 22px;
    color: #1e1f21;
    font-weight: bold;
    text-decoration: underline;
    transition: all 0.3s;
    right: 100px;
    bottom: 50px;
}
.automatic_link_box p {
    cursor: pointer;
    position: relative;
}
.automatic_link_box span {
    position: absolute;
}
.automatic_link_box p:hover {
    color: #004dc1;
}

/* 솔루션 영역 */
.settlement_solution {
    padding: 100px 0;
    width: 80%;
    margin: 0 auto;
}
.solution_title {
    width: 100%;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.3;
}
.solution_list {
    margin-top: 50px;
    display: flex;
}
.solution_list > li {
    width: 50%;
}
.solution_text_box_detail_01 {
    font-size: 20px;
    line-height: 1.75;
    font-weight: 400;
}
.solution_text_box_detail_02 {
    width: 100%;
    margin-top: 20px;
}
.solution_text_box_detail_02 > li {
    width: 100%;
    margin-bottom: 10px;
}
.solution_text_box_detail_02 li h4 {
    padding: 5px 15px;
    border-radius: 5px;
    width: fit-content;
    box-sizing: border-box;
    background-color: #939aa3;
    color: #fff;
    font-size: 14px;
    margin-bottom: 15px;
}
.solution_text_box_detail_02 li ul li {
    margin-bottom: 10px;
    margin-left: 30px;
    position: relative;
}
.solution_text_box_detail_02 li ul li::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -20px;
    width: 14px;
    height: 14px;
    background-image: url(../../images/checkmark.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.solution_img_box img {
    width: 120%;
}
/* //service_category 영역 */
.service_category {
    width: 100%;
    margin-top: 100px;
    padding: 100px 0;
    background-color: #f0f1f3;
}
#wrap {
    width: 65%;
    margin: 0 auto;
}
.service_category_list {
    display: flex;
    flex-direction: column;
}

.service_category_list h2 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.service_category_list_box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.service_category_list_box > li {
    width: 30%;
    padding: 25px 30px;
    margin: 15px 0;
    box-sizing: border-box;
    background-color: #fff;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
}
.service_category_list_box > li:hover .service_arrow {
    opacity: 1;
    transform: translateX(-4px);
}
.service_arrow {
    position: absolute;
    right: 30px;
    top: 25px;
    transition: 0.5s;
    opacity: 0;
}
.service_arrow img {
    width: 20px;
}
.service_category_list_box > li:hover {
    transform: translateY(-5px);
}
.service_category_list_box > li > a > ul {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.service_category_list_box > li > a > ul > li img {
    width: 25px;
    margin-right: 15px;
}

.service_category_list_box > li > a > ul > li h2 {
    font-size: 18px;
    font-weight: bold;
}
.service_category_list_box > li > a > p {
    box-sizing: border-box;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.5;
}
